__pycache__/
*.egg-info/
*.egg
dist/
build/
.eggs/
*.so
.pytest_cache/
.coverage
docs/_build/
*.swp
*.swo
*~
.DS_Store


# AI/LLM
.github/agents
.github/skills
.github/chats
.github/plans
.github/workflows/agents.yml
.github/workflows/skills.yml

prov-implementation/
experiment/
